.idea/
node_modules/
.vscode/
*.map
.DS_Store
.sourcemaps
dist/
dist-app/
dist-static/
electron-app/dist/
electron-app/build/*
!electron-app/build/icon.png
!electron-app/build/README.md


# Generated configuration files (from build.sbt)
.env.electron
generated-constants.js
